.upper_container {
  /* border: 1px solid black; */
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lower_container {
  /* border: 1px solid black; */
  height: 60%;
}
.repo_bar {
  /* border: 1px solid white; */
  width: 90%;
  /* width: auto; */
  height: 45%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.pagination {
  /* border: 1px solid white; */
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}
.pagination button {
  box-sizing: border-box;
  /* border: 1px solid white; */
  color: white;
  width: 0.7rem;
  height: 0.5rem;
  border-radius: 5rem;
  cursor: pointer;
  box-shadow: none;
  transition: border 0.5s;
  outline: none;
  appearance: none;
  border: none;
  margin-right: 0.4rem;
}
.pagination button:last-child {
  width: 2rem;
  margin-right: none;
}
.pagination button:active {
  border: var(--gradient-color-one) 2px solid;
}
.repo_box {
  border: 1px solid var(--gradient-color-one);
  box-sizing: border-box;
  background-color: var(--primary-color);
  min-width: 180px;
  width: 16%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  margin-right: 5%;
  cursor: pointer;
  transition: border 0.5s;
}
.repo_box:hover {
  border: var(--gradient-color-one) 5px solid;
}
.repo_box:active {
  border: none;
  background: var(--gradient-one);
  color: white;
}

.repo_box:last-child {
  margin-right: 0;
}
.add_img {
  /* border: 1px solid black; */
  width: 50%;
  height: 50%;
  margin: auto;
}
.repo_img {
  /* border: 1px solid black; */
  width: 100%;
  height: 70%;
}
.p {
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;
}
.main_bar {
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.col_1 .row_1 {
  /* border: 1px solid black; */
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.col_2 .row_1 {
  /* border: 1px solid black; */
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.col_1 .row_2 {
  /* border: 1px solid black; */
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}
.col_1 {
  /* border: 1px solid black; */
  width: 70%;
  height: 100%;
}
.col_2 {
  /* border: 1px solid black; */
  width: 30%;
  height: 100%;
}
.col_2 .row_2 {
  /* border: 1px solid black; */
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  box-sizing: border-box;
  border: 1px solid var(--gradient-color-three);
  padding: 0 1.5rem;
  background: none;
  width: 100%;
  height: 40%;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
}
.btn:hover {
  font-weight: bold;
  border: 3px solid var(--gradient-color-three);
}
.btn:active {
  color: white;
  border: none;
  background: var(--gradient-three);
}
.btn_2 {
  box-sizing: border-box;
  border: 1px solid var(--gradient-color-one);
  padding: 0 1.5rem;
  /* border: none; */
  width: 100%;
  height: 40%;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
}

.btn_2:hover {
  font-weight: bold;
  border: 3px solid var(--gradient-color-one);
}
.btn_2:active {
  color: white;
  border: none;
  background: var(--gradient-one);
}

.delete {
  /* border: 1px solid black; */
  width: fit-content;
  color: red;
}
.row_2 .col_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stars {
  /* border: 1px solid black; */
  width: 100%;
  height: 20px;
  margin: 2.5rem 0;
}
.star {
  /* border: 1px solid black; */
  width: 20px;
  height: 20px;
}
.bold {
  /* border: 1px solid black; */
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
}
.bold span {
  /* CSS Text Gradient */
  background-image: var(--gradient-one);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.semibold {
  /* border: 1px solid black; */
  font-weight: bolder;
  margin: 0;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
.textbox {
  /* border: 1px solid black; */
  position: relative;
  box-sizing: border-box;
  width: 75%;
  height: 60%;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}
.outer {
  border: 1px solid black;
  background-color: white;
  width: 100%;
  height: 100%;
}
.inner {
  border: 1px solid black;
  position: relative;
  background-color: white;
  top: 10px;
  left: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 2rem;
  text-align: center;
  overflow-y: scroll;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}
.inner p {
  margin: 0;
  line-height: 2rem;
  overflow-y: scroll;
}
.ul li b {
  /* CSS Text Gradient */
  background-image: var(--gradient-two);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

/* Media Queries */

@media screen and (max-width: 1100px), (orientation: portrait) {
  .textbox {
    width: 60%;
  }
  .col_1 {
    width: 60%;
  }
  .col_2 {
    width: 40%;
  }
  .ul {
    overflow-x: scroll;
  }
  .textbox {
    width: 80%;
  }
  .btn_1,
  .btn_2 {
    padding: 0 1.5rem;
    height: 45%;
  }
  .bold {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .upper_container {
    height: 30%;
    justify-content: center;
  }
  .lower_container {
    height: 70%;
  }
  .main_bar {
    flex-direction: column;
    justify-content: space-between;
  }
  .btn,
  .btn_2 {
    font-size: 1rem;
    padding: 0 1.8rem;
    height: 45%;
  }
  .bold {
    font-size: 1.3rem;
  }
  .col_1 {
    width: 100%;
    height: 70%;
  }
  .col_2 {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .col_2 .row_1 {
    display: flex;
    align-items: center;
    height: 20%;
  }
  .col_2 .row_2 {
    height: 70%;
  }

  .ul {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
  }
  .ul li {
    flex: 0 0 auto;
    display: inline-block;
    margin-right: 1rem;
  }
  .ul li:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 468px) {
  .btn_1,
  .btn_2 {
    font-size: 1rem;
    padding: 0 1.8rem;
    height: 40%;
  }
  .bold {
    font-size: 0.9rem;
  }
  .textbox {
    width: 90%;
  }
  .ul {
    font-size: 0.6rem;
  }
}
