.card-box {
  width: 27vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-row-1 h1 {
  font-size: large;
  padding: 0;
  margin: 0;
}
.card-row-1 {
  border: 1px solid black;
  border-radius: 8px 8px 0 0;
  flex-direction: column;
  padding: 20px;
  height: 70%;
}
.card-row-2 {
  /* background-color: black; */
  border: 1px solid black;
  background-color: black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 8px 8px;
}
.card-delete-button {
  background: none;
  border: none;
  font-weight: bold;
  color: white;
}
