footer {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-input {
  border: 1px solid black;
  border-radius: 60px;
  padding: 20px 30px;
  width: 50vw;
  color: black;
  font-family: "Montserrat";
}
