.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
}
nav a {
  padding: 0 50px;
}
nav a:last-child {
  padding-right: 0;
  /* padding-left: 0; */
}
nav span {
  background-color: black;
  color: white;
  /* border: 1px solid black; */
  padding: 8px 16px;
  border-radius: 30px;
}
a {
  text-decoration: none;
  color: black;
}
